#forms-container{
    width: 100%;

    padding: 10px;

    transform: translateY(80px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#forms-title{
    font-size: 30px;
    margin: 10px;
}
